.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 20px;
    border: none;
    height: max-content;
    margin-right: auto;
    margin-left: auto;
}

.article__title {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.article__description {
    font-size: 16px;
    letter-spacing: 1px;
}

.article__date {
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
