.articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 20px;
    border: none;
    height: max-content;
    margin-right: auto;
    margin-left: auto;
}

.articles__block {
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
}

.articles__block:hover {
    cursor: pointer;
    background-color: rgba(33, 71, 153, 0.146);
}

.block__title {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.block__description {
    font-size: 16px;
    letter-spacing: 1px;
}

.block__date {
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

.title-create-new-article {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
}

.create-new-article {
    padding: 20px;
    border-radius: 20px;
    border: none;
    margin-right: auto;
    margin-left: auto;
}

p.create-new-article__titles {
    font-size: 32px;
    font-weight: 500;
}

.create-new-article input,
.create-new-article textarea {
    padding: 20px;
    font-size: 32px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
}

.create-new-article input {
    width: 450px;
}

.create-new-article textarea {
    width: 750px;
}

.create-new-article button {
    padding: 10px 36px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: green;
    color: white;
    border: none;
    font-size: 24px;
}
.create-new-article button:hover {
    cursor: pointer;
    text-decoration: underline;
}
